
/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background: linear-gradient(100deg, #333, #626262);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}
header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}
header p {
    font-size: 1.25rem;
    margin-top: 1rem;
}
.menu {
    list-style: none;
    background: linear-gradient(100deg, #333, #626262);
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.menu li {
    display: inline;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}
main {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: auto;
}
section {
    margin-bottom: 4rem;
    padding: 2rem;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text-content {
    order: 2;
}
.image-content {
    order: 1;
    text-align: center;
}
.image-content img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.xr-explanation-section {
    /* text-align: center; */
    padding: 20px;
}

.xr-explanation-section .section-header-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto; /* Adds space below the image */
    display: block;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        align-items: center;
    }
    .text-content {
        flex: 1;
        padding-right: 2rem;
    }
    .image-content {
        flex: 1;
    }
}
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
}
footer p {
    margin: 0;
}
